---
// Button.astro
interface Props {
  type?: 'primary' | 'secondary' | 'option';
  label: string;
  htmlType?: 'button' | 'submit' | 'reset';
  [key: string]: any;
}

const { type = 'primary', label, htmlType = 'button', class: _ignore, ...rest } = Astro.props;
const cls = `button-${type}`;
---
<button class={cls} type={htmlType} {...rest}>
  {label}
</button>
