---
import ButtonPrimary from '../components/buttons/button-primary.astro';
import Layout from '../layouts/Layout.astro';

const seo = {
    // title: 'Astro Boilerplate - Home',
    // description: 'A minimal and powerful Astro boilerplate for fast web development.',
    // social: {
    //     facebook: {
    //         title: 'Astro Boilerplate - Facebook',
    //         description: 'A minimal starter built with Astro. Fast, clean and scalable.',
    //         image: {
    //             url: '/cover-home.jpg' // You can change this path if you have a different image
    //         }
    //     },
    //     twitter: {
    //         creator: '@anas_dev',
    //         title: 'Astro Boilerplate - Twitter',
    //         description: 'Start fast with this clean Astro boilerplate.',
    //         image: {
    //             url: '/cover-home.jpg'
    //         }
    //     }
    // },
    // advanced: {
    //     robots: ['index', 'follow'],
    //     canonical: 'https://yourdomain.com/' // replace with your real domain
    // }
};
---

<Layout title="Home" seo={seo}>
    <section class="container max-w-lg">
        Hello World!
        <br>
        <ButtonPrimary type='primary' label='Primary' />
        <ButtonPrimary type='secondary' label='Secondary' />
        <ButtonPrimary type='option' label='Option' />
    </section>
</Layout>
